.home{
    padding-top: 50px;
    /*background-color:#ECFAE7;*/

}
body{
    height: 1080px;
    background-color: #3c3c3c;
}

.home p{
    font-family: Raleway;
    font-size: 60px;
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
    letter-spacing: 1px;
}
.imagen {
    text-align: center;
    margin-top: 30px ;
}




