.registro{
    padding-top: 20px;
    width: 500px;
    margin-left: 200px;

}

.titulo{
    font-size: 30px;
    font-family: Raleway;
    letter-spacing: 1px;

}

form div label{
    font-size: 18px;
    font-family: Raleway;
}
.alert{
    color: red;
    font-family: Raleway;
    font-weight: bold;
}